{% extends 'base.html' %}
{% load static %}


{% block banner %}

<section class="visual">
    <div class="visual-inner blog-default-banner dark-overlay parallax" data-stellar-background-ratio="0.55">
        <div class="container">
            <div class="visual-text-large text-left visual-center">
                <h1 class="visual-title visual-sub-title">Blog principal</h1>
                <p>
                    Encuentra información valiosa, tutoriales, actualizaciones y mucho más.
                </p>
                <div class="breadcrumb-block">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}"> Home </a></li>
                        <li class="breadcrumb-item active">Blog</li>
                        {% if current_tag %}
                            <li class="breadcrumb-item active"> {{ current_tag }} </li>
                        {% endif %}
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block content %}
<section class="content-block">
    <div class="container">
        <div class="row multiple-row">
            {% for post in object_list %}
                <div class="col-md-6">
                    <div class="col-wrap">
                        <div class="post-grid reverse-grid reverse-grid">
                            <div class="img-block post-img">
                                <a href="{{ post.get_absolute_url }}">
                                    <img src="{{ post.image.url }}" alt="{{ post.sub_title }}">
                                </a>
                                <time class="post-date" datetime="{{ post.timestamp | date:'Y-M-d' }}">{{ post.timestamp | date:"d M Y" }}</time>
                            </div>
                            <div class="post-text-block bg-gray-light">
                                <strong class="content-title mb-0">
                                    <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                                </strong>
                                {% if post.sub_title %}
                                <span class="content-sub-title">{{ post.sub_title }}</span>
                                {% endif %}
                                {{ post.content | safe | truncatechars:140 }} <a href="{{ post.get_absolute_url }}">...</a>
                                <div class="post-meta clearfix">
                                    <div class="post-link-holder">
                                        <a href="{{ post.get_absolute_url }}">
                                            Leer post 
                                            <span class="fa fa-arrow-right">
                                                <span class="sr-only">&nbsp;</span>
                                            </span>
                                        </a>
                                    </div>
                                    {% if post.tag %}
                                    <div class="post-social text-right">
                                        <ul class="social-network social-small">
                                            {% for tag in post.tag.all %}
                                            <li>
                                                <a href="{% url 'blog' %}?filter={{tag}}">
                                                    {{tag.title}}
                                                </a>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% if is_paginated %}
        {% include "base/paginator.html" %}
        {% endif %}
    </div>
</section>
{% endblock %}
