{% extends 'base.html' %}
{% load static %}


{% block banner %}

<section class="visual">
    <div class="visual-inner blog-default-banner dark-overlay parallax" data-stellar-background-ratio="0.55">
        <div class="container">
            <div class="visual-text-large text-left visual-center">
                <h1 class="visual-title visual-sub-title">Blog principal</h1>
                <p>
                    Encuentra información valiosa, tutoriales, actualizaciones y mucho más.
                </p>
                <div class="breadcrumb-block">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}"> Home </a></li>
                        <li class="breadcrumb-item active">Blog</li>
                        <!-- <li class="breadcrumb-item active"> Default </li> -->
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block content %}
<section class="content-block">
    <div class="container">
        <div class="row multiple-row">
            <div class="col-md-6">
                <div class="col-wrap">
                    <div class="post-grid reverse-grid reverse-grid">
                        <div class="img-block post-img">
                            <a href="{% url 'blog' %}/post"><img src="{% static 'img/img-30.jpg' %}" alt="images"></a>
                            <time class="post-date" datetime="2016-10-10">17 Jun</time>
                        </div>
                        <div class="post-text-block bg-gray-light">
                            <strong class="content-title mb-0">
                                <a href="{% url 'blog' %}/post">Heading South</a>
                            </strong>
                            <span class="content-sub-title">Where’s Responsive Design?</span>
                            <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Auctor, nisi elit consequat ipsum,</p>
                            <div class="post-meta clearfix">
                                <div class="post-link-holder">
                                    <a href="{% url 'blog' %}/post">Leer post <span class="fa fa-arrow-right"><span class="sr-only">&nbsp;</span></span></a>
                                </div>
                                <!-- <div class="post-social text-right">
                                    <ul class="social-network social-small">
                                        <li><a href="{% url 'blog' %}/post"><span class="icon-facebook"><span class="sr-only">&nbsp;</span></span></a></li>
                                        <li><a href="{% url 'blog' %}/post"><span class="icon-twitter"><span class="sr-only">&nbsp;</span></span></a></li>
                                    </ul>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-wrap">
                    <div class="post-grid reverse-grid">
                        <div class="img-block post-img">
                            <a href="{% url 'blog' %}/post"><img src="{% static 'img/img-31.jpg' %}" alt="images"></a>
                            <time class="post-date" datetime="2016-10-10">17 Jun</time>
                        </div>
                        <div class="post-text-block bg-gray-light">
                            <strong class="content-title mb-0"><a href="{% url 'blog' %}/post">Product Design</a></strong>
                            <span class="content-sub-title">Thechnology and Trends</span>
                            <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Auctor, nisi elit consequat ipsum,</p>
                            <div class="post-meta clearfix">
                                <div class="post-link-holder">
                                    <a href="{% url 'blog' %}/post">Leer post <span class="fa fa-arrow-right"><span class="sr-only">&nbsp;</span></span></a>
                                </div>
                                <!-- <div class="post-social text-right">
                                    <ul class="social-network social-small">
                                        <li><a href="{% url 'blog' %}/post"><span class="icon-facebook"><span class="sr-only">&nbsp;</span></span></a></li>
                                        <li><a href="{% url 'blog' %}/post"><span class="icon-twitter"><span class="sr-only">&nbsp;</span></span></a></li>
                                    </ul>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="btn-container full-width-btn top-space">
            <a href="javascript:void(0)" class="btn btn-black">VER MÁS<span class="c-ripple js-ripple"><span class="c-ripple__circle"></span></span></a>
        </div>
    </div>
</section>
{% endblock %}

