{% extends 'base.html' %}
{% load static %}

{% load crispy_forms_tags %}

{% block styles %}
    <style>
        .control-group{ text-align: left !important; margin-bottom: 1.5rem;}
        #contactForm{ margin-bottom: 5rem !important;}
    </style>
{% endblock %}

{% block banner %}
    <section class="visual visual-sub visual-no-bg">
        <div class="visual-inner no-overlay bg-gray-light">
            <div class="centered">
                <div class="container">
                    <div class="visual-text visual-center">
                        <h1 class="visual-title visual-sub-title">Contacto</h1>
                        <div class="breadcrumb-block">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="{% url 'home' %}"> Home </a>
                                </li>
                                <li class="breadcrumb-item active"> Contacto </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block content %}
    <section class="content-block pb-0">
        <div class="container">
            <div class="contact-container">
                <h6 class="content-title contact-title">PÓNGASE EN CONTACTO CON NOSOTROS</h6>
                <div class="row">
                    <div class="col-lg-6" id="contactForm">
                        {% crispy form %}
                    </div>
                    <div class="col-lg-6 col-xl-5 offset-xl-1">
                        <div class="info-slot">
                            <div class="icon"><span class="custom-icon-map-marker"></span></div>
                            <div class="text">
                                <address>Caracas,
                                    <br>Venezuela</address>
                            </div>
                        </div>
                        <div class="info-slot">
                            <div class="icon"><span class="custom-icon-headset"></span></div>
                            <div class="text">
                                <ul class="content-list contact-list">
                                    <li><span class="label-text">LINEA DE AYUDA</span><br> <a href="https://wa.me/584120320279" target="_blank">+(58) 412 032 0279</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="info-slot">
                            <div class="icon"><span class="custom-icon-message"></span></div>
                            <div class="text">
                                <ul class="content-list contact-list">
                                    <li><a href="mailto:info@asesaludlaboral.com.ve">info@asesaludlaboral.com.ve</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="map-holder embed-responsive-21by9 grayscaled-map">
        <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d985.1984077326543!2d-79.50985651683891!3d8.991128372158137!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2spa!4v1568836491918!5m2!1sen!2spa" height="450" style="border:0"></iframe>
        <!-- <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2485.0605547231917!2d-0.33554378354576586!3d51.47540277962994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48760cf99dee6c25%3A0xc9d2780dbbcbb933!2sLondon+Rd%2C+Isleworth+TW7%2C+UK!5e0!3m2!1sen!2snp!4v1473394388477" height="450" style="border:0"></iframe> -->
    </div>
{% endblock %}