{% extends 'base.html' %}
{% load static %}

{% block styles %}
    <style>
        .count-block { background-image: url("{% static 'img/home-03.jpg' %}") !important; }
    </style>
{% endblock %}


{% block banner %}
    <div class="banner banner-home">
        <div class="rev_slider_wrapper fullscreen-container" style="margin:0px auto;background-color:#fff;padding:0px;margin-top:0px;margin-bottom:0px;">
            <div class="rev_slider fullscreenabanner" style="display:none;">
                <ul>
                    <li class="slider-color-schema-dark" data-index="rs-2" data-transition="fade" data-slotamount="7" data-easein="default" data-easeout="default" data-masterspeed="1000" data-rotate="0" data-saveperformance="off" data-title="Slide" data-description="">
                        <img src="{% static 'img/home.png' %}" 
                            alt="image description" data-bgposition="center center" 
                            data-kenburns="on" data-duration="30000" data-ease="Linear.easeNone" 
                            data-scalestart="100" data-scaleend="120" data-rotatestart="0" 
                            data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" 
                            data-bgparallax="10" class="rev-slidebg" data-bgfit="cover" data-no-retina>
                        </img>
                        <div class="tp-caption tp-shape tp-shapewrapper" id="slide-1699-layer-10"
                            data-x="['center','center','center','center']" 
                            data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" 
                            data-voffset="['0','0','0','0']" data-width="full"
                            data-height="full" data-whitespace="nowrap" data-type="shape" 
                            data-basealign="slide" data-responsive_offset="on" data-responsive="off" 
                            data-frames='[{"from":"y:0;sX:1;sY:1;opacity:0;","speed":2500,"to":"o:1;","delay":500,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]' 
                            data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]"
                            data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" 
                            data-paddingleft="[0,0,0,0]" style="background-color:rgba(0, 0, 0, 0.57);">
                        </div>
                        <div class="slider-sub-title text-white tp-caption tp-resizeme rs-parallaxlevel-0" 
                            data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']" 
                            data-y="['top','top','middle','middle']" data-voffset="['145','100','10','20']" 
                            data-width="['1200','960','720','540']" data-textalign="left" 
                            data-fontsize="['24','20']" 
                            data-lineheight="['72','62','50','50']" data-letterspacing="0" 
                            data-height="none" data-whitespace="normal" 
                            data-transform_idle="o:1;" data-transform_in="z:0;rX:0deg;rY:0;rZ:0;sX:1.5;sY:1.5;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;" 
                            data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                            data-mask_in="x:0px;y:0px;" data-mask_out="x:inherit;y:inherit;" 
                            data-start="1000" data-splitin="none" data-splitout="none" 
                            data-responsive_offset="on" data-paddingright="[25,25,25,25]" 
                            data-paddingleft="[25,25,25,25]">
                            EXPERTOS EN MATERIA DE SEGURIDAD Y SALUD LABORAL.
                        </div>
                        <div class="slider-main-title text-white tp-caption tp-resizeme rs-parallaxlevel-1" 
                            data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']" 
                            data-y="['top','top','middle','middle']" data-voffset="['250','150','50','50']" 
                            data-width="['1200','960','720','540']" data-textalign="left" 
                            data-fontsize="['45']" data-fontweight="900" data-letterspacing="['10','5','0']" 
                            data-lineheight="['184','100','72','60']" data-height="none" data-whitespace="normal" 
                            data-transform_idle="o:1;" data-transform_in="z:0;rX:0deg;rY:0;rZ:0;sX:1.5;sY:1.5;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;" 
                            data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                            data-mask_in="x:0px;y:0px;" data-mask_out="x:inherit;y:inherit;" data-start="1000" 
                            data-splitin="none" data-splitout="none" data-responsive_offset="on" 
                            data-paddingright="[25,25,25,25]" data-paddingleft="[25,25,25,25]">
                            ASESALUD LABORAL 2727 c.a.
                        </div>
                        <div class="slider-text text-white tp-caption tp-resizeme rs-parallaxlevel-2" data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']" data-y="['top','top','middle','middle']" data-voffset="['450','230','110','110']" data-width="['600','555','555','480']" data-textalign="left" data-fontsize="['16','14','14','14']" data-lineheight="['30','30','22','22']" data-fontweight="400" data-height="none" data-whitespace="normal" data-transform_idle="o:1;" data-transform_in="z:0;rX:0deg;rY:0;rZ:0;sX:1.5;sY:1.5;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_in="x:0px;y:0px;" data-mask_out="x:inherit;y:inherit;" data-start="1000" data-splitin="none" data-splitout="none" data-responsive_offset="on" data-paddingright="[25,25,25,25]" data-paddingleft="[25,25,25,25]">
                            Somos un equipo de profesionales con amplia experiencia en materia de salud y seguridad laboral en el sector privado.
                        </div>
                        <div class="tp-caption rev-btn  rs-parallaxlevel-10" id="slide-163-layer-1" data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['320','60','240','220']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power3.easeOut;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" data-transform_out="y:[175%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_out="x:inherit;y:inherit;" data-start="1250" data-splitin="none" data-splitout="none" data-actions='[{"event":"click","action":"jumptoslide","slide":"rs-164","delay":""}]' data-responsive_offset="on" data-paddingtop="[0,0,0,0]" data-paddingright="[25,25,25,25]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[25,25,25,25]">
                            <a class="btn btn-primary has-radius-small" href="{% url 'services' %}">CONOZCA NUESTROS SERVICIOS</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <section class="content-block">
        <div class="content-wrapper">
            <section class="content-block">
                <div class="container">
                    <div class="portfolio-des">
                        <div class="row">
                            <div class="col-lg-6 bottom-space-medium-only">
                                <div class="text-block">
                                    <h2 class="text-block-title">¿Quienes somos?</h2>
                                    <p>
                                        Somos un equipo de profesionales emprendedores con amplia experiencia en materia de 
                                        salud y seguridad laboral desarrollada en el sector privado y en la administración pública, 
                                        capaz de ofrecer servicios profesionales enmarcados en la normativa legal vigente que rige 
                                        esta amplia materia, con la finalidad de contribuir con el fortalecimiento de la cultura 
                                        preventiva.
                                    </p>
                                    <p>
                                        Nuestros servicios están enfocados a las tres actividades principales que serán
                                        acreditadas por el Instituto Nacional
                                        de Prevención Salud y Seguridad Laborales:
                                        <ul>
                                            <li>Capacitación</li>
                                            <li>Asesoría</li>
                                            <li>Servicios</li>
                                        </ul>
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="text-block">
                                    <h2 class="text-block-title">Visión</h2>
                                    <p>
                                        Ser una empresa dedicada a brindar la mejor asesoría, servicio técnico y suministro de
                                        equipos en materia de seguridad
                                        y salud laboral, con la finalidad desatisfacer las necesidades del cliente enfocadas al
                                        cumplimiento de los aspectos
                                        técnicos-legales en esta materia.
                                    </p>
                                    <h2 class="text-block-title">Misión</h2>
                                    <p>
                                        Nuestra misión es brindar asesorías destinadas al fortalecimiento de la cultura
                                        preventiva en materia de seguridad y
                                        salud laboral, con la finalidad de contribuir en la prevención de accidentes,
                                        enfermedades ocupacionales y la
                                        capacitación de la masa trabajadora en materia de salud y seguridad laboral.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row portfolio-gallery top-space">
                        <div class="bottom-space-medium-only col-lg-6">
                            <div class="img-block border-hover-effect">
                                <img src="{% static 'img/home-1.png' %}" alt="images">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="row">
                                <div class="col-small col-md-6">
                                    <div class="img-block border-hover-effect">
                                        <img src="{% static 'img/home-2.png' %}" alt="images">
                                    </div>
                                </div>
                                <div class="col-small col-md-6">
                                    <div class="img-block border-hover-effect">
                                        <img src="{% static 'img/home-3.png' %}" alt="images">
                                    </div>
                                </div>
                                <div class="col-small mb-0 col-md-12">
                                    <div class="img-block border-hover-effect">
                                        <img src="{% static 'img/home-4.png' %}" alt="images">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="container">
            <div class="row multiple-row v-align-row">
                <div class="col-lg-4 col-md-6">
                    <div class="col-wrap">
                        <div class="block-heading">
                            <h3 class="block-top-heading">¿Que hacemos?</h3>
                            <h2 class="block-main-heading">NUESTRA EXPERIENCIA</h2>
                            <span class="block-sub-heading">Tu seguridad es nuestra satisfacción.</span>
                            <div class="divider">
                                <img src="{% static 'img/divider.png' %}" alt="images description">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="col-wrap">
                        <div class="ico-box bg-gray-light has-radius-medium">
                            <div class="icon">
                                <span class="icon-magic"><span class="sr-only">&amp;</span></span>
                            </div>
                            <h4 class="content-title"><a href="#">EVALUACIONES AMBIENTALES</a></h4>
                            <div class="des">
                                <p>
                                    Ruido, temperatura, iluminación y ventilación.
                                </p>
                            </div>
                            <div class="link-holder">
                                <a class="link-more" href="{% url 'services' %}">Leer más</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="col-wrap">
                        <div class="ico-box bg-gray-light has-radius-medium">
                            <div class="icon">
                                <span class="custom-icon-award"><span class="sr-only">&amp;</span></span>
                            </div>
                            <h4 class="content-title"><a href="#">INVESTIGACIÓN Y ANÁLISIS</a></h4>
                            <div class="des">
                                <p>
                                    de accidentes y enfermedades ocupacionales
                                </p>
                            </div>
                            <div class="link-holder">
                                <a class="link-more" href="{% url 'services' %}">Leer más</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="col-wrap">
                        <div class="ico-box bg-gray-light has-radius-medium">
                            <div class="icon">
                                <span class="custom-icon-user"><span class="sr-only">&amp;</span></span>
                            </div>
                            <h4 class="content-title"><a href="#">DELEGADOS DE PREVENCIÓN</a></h4>
                            <div class="des">
                                <p>
                                    Asesoría en el proceso de elección de los delegados de prevención.
                                </p>
                            </div>
                            <div class="link-holder">
                                <a class="link-more" href="{% url 'services' %}">Leer más</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="col-wrap">
                        <div class="ico-box bg-gray-light has-radius-medium">
                            <div class="icon">
                                <span class="custom-icon-headset"><span class="sr-only">&amp;</span></span>
                            </div>
                            <h4 class="content-title"><a href="#">COMITÉ DE SEGURIDAD Y SALUD LABORAL</a></h4>
                            <div class="des">
                                <p>
                                    Constitución y registro del comité de seguridad y salud laboral.
                                </p>
                            </div>
                            <div class="link-holder">
                                <a class="link-more" href="{% url 'services' %}">Leer más</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="col-wrap">
                        <div class="ico-box bg-gray-light has-radius-medium">
                            <div class="icon">
                                <span class="custom-icon-skill"><span class="sr-only">&amp;</span></span>
                            </div>
                            <h4 class="content-title"><a href="#">ASESORÍAS Y CAPACITACIONES</a></h4>
                            <div class="des">
                                <p>Elaboracion de programas de Seguridad y Salud en el Trabajo.</p>
                            </div>
                            <div class="link-holder">
                                <a class="link-more" href="{% url 'services' %}">Leer más</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% include "base/quotation-block.html" %}

    {% if has_portfolio %}
    <section class="content-block portfolio-block" id="container">
        <div class="bottom-space text-center text-uppercase">
            <h2>Casos de estudio</h2>
        </div>
        <ul class="filter-nav text-center button-group filter-button-group">
            <li>
                <button data-filter="*">TODO</button>
            </li>
            <li>
                <button data-filter=".ui">DISEÑO</button>
            </li>
            <li>
                <button data-filter=".web">DESARROLLO WEB</button>
            </li>
            <li>
                <button data-filter=".rrss">REDES SOCIALES</button>
            </li>
        </ul>
        <div class="row grid">
            
            <div class="gallery-item col-lg-4 col-md-6 ui rrss">
                <figure class="picture-item img-block shine-effect image-zoom port-v2">
                    <img src="{% static 'img/portfolio-rrss-01-2.jpg' %}" alt="Digital City Instagram">
                    <figcaption>
                        <div class="link-box">
                            <!-- <a href="#">
                                <span class="icon-heart"><span class="sr-only">&amp;</span></span>
                            </a> -->
                            <a href="https://www.instagram.com/digitalcitypty/" target="_blank">
                                <span class="icon-link"><span class="sr-only">&amp;</span></span>
                            </a>
                        </div>
                    </figcaption>
                </figure>
            </div>

            <div class="gallery-item col-lg-4 col-md-6 web">
                <figure class="picture-item img-block shine-effect image-zoom port-v2">
                    <img src="{% static 'img/portfolio-web-03-2.jpg' %}" alt="Moby Supply">
                    <figcaption>
                        <div class="link-box">
                            <!-- <a href="#">
                                <span class="icon-heart"><span class="sr-only">&amp;</span></span>
                            </a> -->
                            <a href="https://www.moby-group.com/" target="_blank">
                                <span class="icon-link"><span class="sr-only">&amp;</span></span>
                            </a>
                        </div>
                    </figcaption>
                </figure>
            </div>
            <div class="gallery-item col-lg-4 col-md-6 rrss">
                <figure class="picture-item img-block shine-effect image-zoom port-v2">
                    <img src="{% static 'img/portfolio-rrss-02-2.jpg' %}" alt="Fox Rent a Car Panamá">
                    <figcaption>
                        <div class="link-box">
                            <!-- <a href="#">
                                <span class="icon-heart"><span class="sr-only">&amp;</span></span>
                            </a> -->
                            <a href="https://www.instagram.com/foxpty/" target="_blank">
                                <span class="icon-link"><span class="sr-only">&amp;</span></span>
                            </a>
                        </div>
                    </figcaption>
                </figure>
            </div>
            <div class="gallery-item col-lg-4 col-md-6 web">
                <figure class="picture-item img-block shine-effect image-zoom port-v2">
                    <img src="{% static 'img/portfolio-web-02-2.jpg' %}" alt="Digital City web">
                    <figcaption>
                        <div class="link-box">
                            <!-- <a href="#">
                                <span class="icon-heart"><span class="sr-only">&amp;</span></span>
                            </a> -->
                            <a href="https://www.digitalcity.com.pa" target="_blank">
                                <span class="icon-link"><span class="sr-only">&amp;</span></span>
                            </a>
                        </div>
                    </figcaption>
                </figure>
            </div>
            <div class="gallery-item col-lg-4 col-md-6 rrss">
                <figure class="picture-item img-block shine-effect image-zoom port-v2">
                    <img src="{% static 'img/portfolio-rrss-04-2.jpg' %}" alt="Niloshopper">
                    <figcaption>
                        <div class="link-box">
                            <!-- <a href="#">
                                <span class="icon-heart"><span class="sr-only">&amp;</span></span>
                            </a> -->
                            <a href="https://www.instagram.com/niloshopper/" target="_blank">
                                <span class="icon-link"><span class="sr-only">&amp;</span></span>
                            </a>
                        </div>
                    </figcaption>
                </figure>
            </div>
            <div class="gallery-item col-lg-4 col-md-6 web ui">
                <figure class="picture-item img-block shine-effect image-zoom port-v2">
                    <img src="{% static 'img/portfolio-web-04-2.jpg' %}" alt="Luxury Motors Panamá">
                    <figcaption>
                        <div class="link-box">
                            <!-- <a href="#">
                                <span class="icon-heart"><span class="sr-only">&amp;</span></span>
                            </a> -->
                            <a href="https://www.luxurymotorspanama.com/" target="_blank">
                                <span class="icon-link"><span class="sr-only">&amp;</span></span>
                            </a>
                        </div>
                    </figcaption>
                </figure>
            </div>
        </div>
    </section>
    {% endif %}


    <section class="content-block pt-0">
        <div class="container">
            <div class="block-heading bottom-space">
                <h3 class="block-top-heading">EXPERIENCIA Y RESPONSABILIDAD</h3>
                <h2 class="block-main-heading">NUESTROS VALORES</h2>
                <span class="block-sub-heading">
                    Con más de 10 años de experiencia, podemos garantizarle resultados satisfactorios.
                </span>
                <div class="divider"><img src="{% static 'img/divider.png' %}" alt="images description"></div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <div class="bottom-space-small-only">
                        <p>
                            Nuestra preocupación es aportar valor a su organización y evitar que su preocupación aumente.
                        </p>
                        <p>
                            Nuestro compromiso es entregar cada proyecto con tiempos de respuesta record, por eso contamos con 
                            un equipo multidisciplinario eficaz y capacitado para asumir cada nuevo reto.
                        </p>
                        <div class="btn-container top-m-space">
                            <a href="{% url 'services' %}" class="btn btn-black has-radius-small">ASESORÍAS, CAPACITACIONES Y MUCHO MÁS</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="bottom-s-space">
                        <p>Listamos algunos de los servicios de asesoría y capacitaciones.</p>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="content-links">
                                <li>
                                    <a href="#">
                                        Inspecciones y evaluación de riesgos.
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Seguridad en Puestos de Trabajo (AST).
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Investigación y Análisis de Accidentes y Enfermedades Ocupacionales.
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-6">
                            <ul class="content-links">
                                <li>
                                    <a href="#">
                                        Manejo de situaciones conflictivas.
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Violencia laboral, acoso laboral o sexual.
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Ergonomía, implementación.
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> 

    <section id="work-section" class="content-block work-block">
        <div class="bg-stretch">
            <img src="{% static 'img/home-02.jpg' %}" alt="">
        </div>
        <div class="container">
            <div class="description container-md">
                <div class="blockquote-block blockquote-block-v3 bg-gray-light">
                    <blockquote>
                        <p>
                            La seguridad no ocurre por accidente.
                        </p>
                        <p><small>- Desconocido</small></p>
                    </blockquote>
                </div>
            </div>
        </div>
    </section>


    <section class="content-block">
        <div class="container">
            <div class="block-heading bottom-space">
                <h3 class="block-top-heading">¿QUIENES SOMOS?</h3>
                <h2 class="block-main-heading">NUESTRO EQUIPO</h2>
                <span class="block-sub-heading">Nos encanta lo que hacemos.</span>
                <div class="divider"><img src="{% static 'img/divider.png' %}" alt="images description"></div>
            </div>
            <div class="team-container">
                <div class="owl-carousel group-slide bottom-m-space">
                    <div class="slide-item">
                        <figure class="team-box caption-fade-up">
                            <div class="img-block rev-gray-scale">
                                <img src="{% static 'img/team-01.jpg' %}" alt="images description">
                            </div>
                            <figcaption class="text-right">
                                <strong class="content-title mb-0">PLANIFICACIÓN</strong>
                                <span class="sub">Encargados de la planificación y desarrollo de estrategias de crecimiento.</span>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="slide-item">
                        <figure class="team-box caption-fade-up">
                            <div class="img-block rev-gray-scale">
                                <img src="{% static 'img/team-02.jpg' %}" alt="images description">
                            </div>
                            <figcaption class="text-right">
                                <strong class="content-title mb-0">VENTAS</strong>
                                <span class="sub">Encargados de llevar nuestras soluciones a futuros socio de negocios.</span>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="slide-item">
                        <figure class="team-box caption-fade-up">
                            <div class="img-block rev-gray-scale">
                                <img src="{% static 'img/team-03.jpg' %}" alt="images description">
                            </div>
                            <figcaption class="text-right">
                                <strong class="content-title mb-0">ANALISTAS DE CAMPO</strong>
                                <span class="sub">Encargados del evaluar, realizar inspecciones y visitar tu empresa.</span>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </section> 

    <!-- <section class="content-block bg-gray-light">
        <div class="container">
            <div class="block-heading bottom-space text-center">
                <h3 class="block-top-heading">HEAR FROM</h3>
                <h2 class="block-main-heading">TESTIMONIALS</h2>
                <span class="block-sub-heading">We always listen to our clients.</span>
                <div class="divider"><img src="{% static 'img/divider.png' %}" alt="images description"></div>
            </div>
            <div class="testimonial-container text-center">
                <div class="owl-carousel testimonial-slide" id="waituk-owl-slide-3">
                    <div class="slide-item">
                        <div class="team-wrap">
                            <div class="img-block">
                                <img src="{% static 'img/people-01.jpg' %}" alt="images description">
                            </div>
                            <div class="text-wrap">
                                <h2>Natalie Fullick</h2>
                                <span class="designation bottom-m-space">CEO - ENVATO INC.</span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                            </div>
                        </div>
                    </div>
                    <div class="slide-item">
                        <div class="team-wrap">
                            <div class="img-block">
                                <img src="{% static 'img/people-02.jpg' %}" alt="images description">
                            </div>
                            <div class="text-wrap">
                                <h2>Jason Doe</h2>
                                <span class="designation bottom-m-space">CEO - ENVATO INC.</span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                            </div>
                        </div>
                    </div>
                    <div class="slide-item">
                        <div class="team-wrap">
                            <div class="img-block">
                                <img src="{% static 'img/people-03.jpg' %}" alt="images description">
                            </div>
                            <div class="text-wrap">
                                <h2>Jake Grahm</h2>
                                <span class="designation bottom-m-space">CEO - ENVATO INC.</span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                            </div>
                        </div>
                    </div>
                    <div class="slide-item">
                        <div class="team-wrap">
                            <div class="img-block">
                                <img src="{% static 'img/people-02.jpg' %}" alt="images description">
                            </div>
                            <div class="text-wrap">
                                <h2>Natalie Fullick</h2>
                                <span class="designation bottom-m-space">CEO - ENVATO INC.</span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                            </div>
                        </div>
                    </div>
                    <div class="slide-item">
                        <div class="team-wrap">
                            <div class="img-block">
                                <img src="{% static 'img/people-01.jpg' %}" alt="images description">
                            </div>
                            <div class="text-wrap">
                                <h2>Natalie Fullick</h2>
                                <span class="designation bottom-m-space">CEO - ENVATO INC.</span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>  -->

{% endblock %}
