{% load static %}
<section class="content-block quotation-block black-overlay-6 parallax" data-stellar-background-ratio="0.55" style="background-image: url({% static 'img/home-01.jpg' %}) !important;">
    <div class="container">
        <div class="inner-wrapper">
            <h3 class="block-top-heading text-white">SIN COMPROMISOS</h3>
            <h2 class="text-white">¡Es hora de mejorar su presencia en el MUNDO DIGITAL!</h2>
            <div class="btn-container">
                <a href="{% url 'quotation' %}" class="btn btn-primary has-radius-small">COTIZA GRATIS</a>
            </div>
        </div>
    </div>
</section>