{% load static %}
<section class="content-block quotation-block black-overlay-6 parallax" data-stellar-background-ratio="0.55" style="background-image: url({% static 'img/home-01.svg' %}) !important;">
    <div class="container">
        <div class="inner-wrapper">
            <h3 class="block-top-heading text-white">GRATIS</h3>
            <h2 class="text-white">¡Es hora de Solicita  una inspección de seguridad laboral!</h2>
            <div class="btn-container">
                <a href="{% url 'quotation' %}" class="btn btn-primary has-radius-small">SOLICITAR GRATIS</a>
            </div>
        </div>
    </div>
</section>