{% extends 'base.html' %}
{% load static %}

{% block styles %}
<style>
    .visual-banner { background-image: url({% static 'img/services-01.jpg' %}) !important; }
</style>
{% endblock %}


{% block banner %}
<section class="visual">
    <div class="visual-inner visual-banner dark-overlay parallax" data-stellar-background-ratio="0.55">
        <div class="centered">
            <div class="container">
                <div class="visual-center">
                    <h1 class="visual-title visual-sub-title">SEGURIDAD Y SALUD LABORAL</h1>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block content %}
    <section class="content-block">
        <div class="container text-center">
            <div class="heading bottom-space">
                <h2>Tu seguridad es nuestra <span>satisfacción</span>.</h2>
            </div>
            <div class="description">
                <p>
                    Nuestro compromiso es entregar cada proyecto con tiempos de respuesta record, 
                    por eso contamos con un equipo multidisciplinario eficaz y capacitado para asumir cada nuevo reto. 
                </p>
            </div>
        </div>
    </section>
    <section class="content-block p-0">
        <div class="container">
            <div class="content-slot alternate-block">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="bg-stretch img-wrap wow slideInLeft">
                            <img src="{% static 'img/service-01.jpg' %}" alt="Desarrollo web">
                        </div>
                    </div>
                    <div class="col col-lg-6">
                        <div class="text-wrap">
                            <h3>EVALUACIONES AMBIENTALES.</h3>
                            <p>
                                Ruido, temperatura, iluminación y ventilación. 
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="bg-stretch img-wrap wow slideInRight">
                            <img src="{% static 'img/service-02.jpg' %}" alt="images">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="text-wrap">
                            <h3>INVESTIGACIÓN Y ANÁLISIS.</h3>
                            <p>
                                De accidentes y enfermedades ocupacionales 
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="bg-stretch img-wrap wow slideInLeft">
                            <img src="{% static 'img/service-03.jpg' %}" alt="images">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="text-wrap">
                            <h3>DELEGADOS DE PREVENCIÓN.</h3>
                            <p>
                                Asesoría en el proceso de elección de los delegados de prevención. 
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="bg-stretch img-wrap wow slideInRight">
                            <img src="{% static 'img/service-04.jpg' %}" alt="images">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="text-wrap">
                            <h3>COMITÉ DE SEGURIDAD Y SALUD LABORAL.</h3>
                            <p>
                                Constitución y registro del comité de seguridad y salud laboral. 
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="bg-stretch img-wrap wow slideInLeft">
                            <img src="{% static 'img/service-05.jpg' %}" alt="images">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="text-wrap">
                            <h3>ASESORÍAS Y CAPACITACIONES.</h3>
                            <p>
                                Elaboracion de programas de Seguridad y Salud en el Trabajo.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% include "base/quotation-block.html" %}
{% endblock %}

