{% extends 'base.html' %}
{% load static %}

{% block styles %}

{% endblock %}


{% block banner %}
{% endblock %}

{% block content %}
<section class="content-block">
        <div class="container">
            <div class="row mt-5">
                <div class="col-lg-12 less-wide">
                    
                    <div class="blog-holder">
                        <article class="blog-article">
                            <div class="blog-title text-center pb-5">
                                <h1>{{ object.title }}</h1>
                                <div class="blog-lists border-0">
                                    <ul class="blog-list-items">
                                        <li>By: <a href="#">{{ object.user }}</a></li>
                                        <li>
                                            <time datetime="{{ object.timestamp | date:'Y-M-D' }}">
                                                {{ object.timestamp | date:"D d" }}
                                                <span>{{ object.timestamp | date:"M" }}</span>
                                            </time>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="blog-desc pt-5">
                                <div class="blog-img">
                                    <div class="image-wrap">
                                        <figure class="">
                                            <img src="{{ post.image.url }}" alt="{{ post.sub_title }}">
                                        </figure>
                                    </div>
                                </div>
                                {{ object.content | safe }}
                                {% if object.tag %}
                                <div class="blog-share mt-5">
                                    <ul class="social-network with-text">
                                        <li><strong>Tags :</strong></li>
                                        {% for tag in post.tag.all %}
                                            <li>
                                                <a href="{% url 'blog' %}?filter={{tag.slug}}">
                                                    {{tag.title}}
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                {% endif %}
                            </div>
                        </article>
                    </div>

                    {% if object.comments %}
                        <div class="content-block pt-5 pb-5">
                            <div class="comment-block">
                                <h6 class="content-title contact-title mb-3">Comentarios</h6>
                                {% for comment in object.comments %}
                                <div class="comment-slot">
                                    <div class="thumb circular-img">
                                        <a href="#"><img src="{% static 'img/people-01.jpg' %}" alt="{{ comment.user }}"></a>
                                    </div>
                                    <div class="comment-desc">
                                        <h5><a href="#">{{ comment.user }}</a></h5>
                                        {{ comment.content | safe }}
                                        <div class="meta">Comentario del
                                            <time datetime="{{ comment.timestamp | date:'Y-m-d' }}">
                                                {{ comment.timestamp | date:'Y/m/d' }}
                                            </time>
                                            - {% if user.is_authenticated %}
                                            <a href="#">Reply</a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                    
                    {% if user.is_authenticated %}
                        <div class="contact-container">
                            <form action="#" class="comment-form waituk_contact-form">
                                <fieldset>
                                    <h6 class="content-title contact-title">ESCRIBIR UN COMENTARIO</h6>
                                    <div class="row">
                                        <div class="col-sm-6 form-group">
                                            <input placeholder="Full Name" type="text" class="form-control">
                                        </div>
                                        <div class="col-sm-6 form-group">
                                            <input placeholder="Email Address" type="email" class="form-control">
                                        </div>
                                        <div class="col-sm-12 form-group">
                                            <input placeholder="Website" type="text" class="form-control">
                                        </div>
                                        <div class="col-sm-12 form-group">
                                            <textarea placeholder="Your Comment" class="form-control"></textarea>
                                        </div>
                                        <div class="col-sm-12 btn-holder">
                                            <button type="submit" class="btn btn-black btn-full">PUBLICAR</button>
                                        </div>
                                </fieldset>
                            </form>
                        </div>
                    {% endif %}

                    </div>
                </div>
            </div>
    </section>
{% endblock %}