<!DOCTYPE html>{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% include "base-css.html" %}
    <title>{% if not page_title  %}{% else %}{{page_title}} - {% endif %}Asesalud Laboral 2727 C.A.</title>
    {% if not page_description  %}
    {% else %}
        <meta name="description" content="{{page_description}}">
    {% endif %}
    {% block styles %}{% endblock %}
</head>
<body>
    <div class="white-overlay">
        <div id="wrapper" class="no-overflow-x">
            <div class="page-wrapper">
                {% include "header.html" %}
                <main {% if not has_banner %} class="no-banner" {% endif %}>
                    {% block banner %}{% endblock %}
                    <div class="content-wrapper">
                        {% block content %}{% endblock %}
                        {% if has_aside %}
                        <aside class="content-block">
                            <div class="container">
                                <div class="logo-container">
                                    <div class="owl-carousel logo-slide" id="waituk-owl-slide-4">
                                        <div class="slide-item">
                                            <img src="{% static 'img/logo-01.jpg' %}" alt="NGINX">
                                        </div>
                                        <div class="slide-item">
                                            <img src="{% static 'img/logo-02.jpg' %}" alt="Django python framework">
                                        </div>
                                        <div class="slide-item">
                                            <img src="{% static 'img/logo-03.jpg' %}" alt="python">
                                        </div>
                                        <div class="slide-item">
                                            <img src="{% static 'img/logo-04.jpg' %}" alt="wordpress">
                                        </div>
                                        <div class="slide-item">
                                            <img src="{% static 'img/logo-05.jpg' %}" alt="Facebook">
                                        </div>
                                        <div class="slide-item">
                                            <img src="{% static 'img/logo-06.jpg' %}" alt="Instagram">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </aside>
                        {% endif %}
                    </div>
                </main>
                {% if can_search %}
                <div class="search-form-wrapper overlay overlay-hugeinc">
                    <button type="button" class="overlay-close"><span class="custom-icon-plus"></span></button>
                    <div class="search-form">
                        <form action="#" method="post">
                            <div class="form-group">
                                <input type="search" class="form-control" placeholder="Enter Your Search">
                                <button type="submit"><span class="icon-search"></span></button>
                            </div>
                        </form>
                    </div>
                </div>
                {% endif %}
                <a href="#" class="section-scroll" id="scroll-to-top"><i class="fa fa-angle-up"></i></a>
            </div>
        </div>
    </div>
    {% include "footer.html" %}
    {% include "base-scripts.html" %}
    {% include "analytics-scripts.html" %}
</body>
</html>