{% extends 'home.html' %}
{% load static %}
{% block content %}
{% if validlink %}
<h3>Change password</h3>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Cambiar contraseña</button>
</form>
{% else %}
<p>
    El enlace de restablecimiento de contraseña no era válido, posiblemente porque ya se ha utilizado.
    Solicite un nuevo restablecimiento de contraseña.
    <small>
        The password reset link was invalid, possibly because it has already been used.
        Please request a new password reset.
    </small>
</p>
{% endif %}
{% endblock %}