{% extends 'home.html' %}
{% load static %}
{% block content %}
<div class="container">
    <h1 class="text-center logo my-4">
        <a href="{% url 'home' %}">{{site_title}}</a>
    </h1>
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 col-sm-8">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Olvidaste tu contraseña</h3>
                    <form method="post" novalidate>
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit">Enviar</button>
                    </form>
                </div>
                <div class="card-footer text-muted text-center">
                    ¿Ya estas registrado? <a href="{% url 'signin' %}">Entrar</a>
                </div>
                <div class="card-footer text-muted text-center">
                    ¿Aún no tienes cuenta? <a href="{% url 'signup' %}">Registrarse</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}