{% extends 'auth/auth.html' %}
{% load static %}
{% block auth %}

<div class="inner-wrap">
    <div class="circular-icon bottom-space"><i class="icon-sign-in"></i></div>
    <form method="post" novalidate id="contact_form" class="waituk_contact-form signup-form">
        <h2 class="bottom-space">Iniciar Sesión</h2>
        <div class="row">
            {% csrf_token %}
            {{ form.as_p }}
            <!-- <div class="col-md-6">
                <div class="form-group">
                    <input type="text" placeholder="USERNAME OR EMAIL" id="con_uname" name="con_fname" class="form-control">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <input type="password" placeholder="PASSWORD" id="con_password" name="con_lname" class="form-control">
                </div>
            </div> -->
            <div class="col-md-6">
                <div class="waituk_select-box">
                    <div class="waituk_select-box-default square-box">
                        <input type="checkbox" name="checkbox" id="checkbox11">
                        <label for="checkbox11" class="m-0">REMEMBER ME</label>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <p><a href="{% url 'password_reset' %}">¿perdiste tu contraseña?</a></p>
            </div>
        </div>
        <div class="btn-container mb-3  mb-xl-3 mt-xl-5 mt-lg-2">
            <button id="btn_sent" class="btn btn-primary has-radius-small">Iniciar Sesión</button>
        </div>
        <p>
            ¿Aún no tienes cuenta?
            <a  href="{% url 'signup' %}">Registrarse</a>
        </p>
    </form>
</div>

<!-- <div class="container">
    <h1 class="text-center logo my-4">
        <a href="{% url 'home' %}">{{site_title}}</a>
    </h1>
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 col-sm-8">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Log in</h3>
                    <form method="post" novalidate>
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary btn-block">Entrar</button>
                    </form>
                </div>
                <div class="card-footer text-muted text-center">
                    ¿Aún no tienes cuenta? <a href="{% url 'signup' %}">Registrarse</a>
                </div>
            </div>
            <div class="text-center py-2">
                <small>
                    <a href="{% url 'password_reset' %}" class="text-muted">¿perdiste tu contraseña?</a>
                </small>
            </div>
        </div>
    </div>
</div> -->
{% endblock %}